.Main
  .Main__GroupInfo
    .Main__GroupInfo--Left
      = @group.name
      %ul 
        Member : 
        - @group.users.each do |user|
          %li= user.name
          
    .Main__GroupInfo--Right
      =link_to edit_group_path(@group) do
        Edit
      
  .Main__Chats
    = render @messages
      
  .Main__Form
    =form_for [@group, @message] do |f|
      .Main__Form__InputBox
        = f.text_field :content, class: 'Main__Form__InputBox__Input', placeholder: 'type a message'
        .Main__Form__InputBox__Tag
          = f.label :image, class: 'image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      .Main__Form__Btn
        = f.submit 'Send',class:"Btn"



